/* =========================================== */
/* VARIABLES GLOBALES*/
/* =========================================== */
:root {
  --color_DarkBlue: #2937af;
  --color_DarkGray: #121212;
  --color_bgGray: #202020;
  --color_lightGray: #696969;
}

/* =========================================== */
/* GENERAL*/
/* =========================================== */
* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: white;
}

/* =========================================== */
/* HEADER */
/* =========================================== */
header {
  height: 20vh;
  display: flex;

  background-color: var(--color_bgGray);
}

.titulo {
  width: 75%;
  margin: 0.5%;
  text-align: center;
  line-height: 1000%;

  border-radius: 10px;

  background-color: var(--color_bgGray);
  border: solid 1px var(--color_lightGray);
  
  /*Antes:
  width: 100%;
  margin: 0.5% 0% 0.5% 0%;
  background-color: #696969;
  color: white;
  text-align: center;
  line-height: 1000%;
  border: solid 1px #696969;
  */
}

ul {
  width: 25%;
  margin: 0.5% 0.5% 0.5% 0%;

  border-radius: 10px;

  background-color: var(--color_bgGray);
  border: solid 1px var(--color_lightGray);
}

ul h4 {
  height: 20%;
  margin: 1%;
  text-align: center;
  line-height: 150%;
  font-size: 25px;

  border-radius: 5px;

  background-color: var(--color_lightGray);
}

.sensores {
  margin-left: 2%;
  line-height: 150%;

  /*Antes:
  list-style-type: circle;
  font-size: 15px;
  margin: 2% 2% 1% 2%;
  height: 60%;
  line-height: 90%;
  */
}

.sensores>.estado_bobelto {
  display: inline-flex;
  margin-top: 1%;
}

header>ul>.sensores>.estado_bobelto>.numero {
  color: yellow;
  margin-bottom: 3.75%;
  width: 19.2vw;
  text-align: center;

  border-radius: 15px;

  background-color: var(--color_lightGray);
}

/* =========================================== */
/* MAIN */
/* =========================================== */
main {
  display: flex;
  height: 72vh;

  background-color: var(--color_bgGray);
}

/* =========================================== */
/* MOVIMIENTO DEL BRAZO CON COORDENADAS*/
/* =========================================== */
.imagen{
  margin-top: 2%;
}

/* =========================================== */
.lista_coord{
  color: limegreen;
  font-size: 22px;
  display:inline-flex;
}
.coordenada_horizontal{
  text-align: center;
}

.coordenada_vertical{
  text-align: right;
  padding-right:10%;
}
/* =========================================== */
.slider{
  /*padding: 0.5% 2% 1% 1.5%;*/
  margin: 2% 1% 0% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-texto {
  display: flex;
  justify-content: space-between;
}

.slider-texto > input {
  color: yellow;
  width: 35%;
  text-align: center;
  font-size: 18px;

  border-radius: 15px;

  background-color: var(--color_lightGray);
  border: none;
}
/* =========================================== */
/* LEFT Y RIGHT*/
/* =========================================== */
.Left,
.Right {
  text-align: center;
  width: 25%;
  margin: 0% 0.5% 0% 0.5%;

  border-radius: 10px;

  border: solid 1px var(--color_lightGray);
}

.Left > h4,
.Right > h4{
  font-size: 25px;
  margin: 1%;
  line-height: 150%;

  border-radius: 5px;

  background-color: var(--color_lightGray);
}

.Lista {
  margin-left: 1%;
  line-height: 150%;
}

/*.Lista>.valores*/
.valores{
  display: flex;
  margin-top: 2%;
}

/*.Lista>.valores>.numero*/
.numero{
  color: yellow;
  margin-bottom: 5%;
  width:83.3%;
  text-align: center;

  border-radius: 15px;

  background-color: var(--color_lightGray);
/*color: yellow;
  background-color: var(--color_lightGray);
  width: 50%;
  line-height: 130%;
  margin: 2% 0% 0% 2%;
  padding-top: 0%;
  font-size: 18px;*/
}

/* =========================================== */
/* CÃMARA - MIDDLE*/
/* =========================================== */
.Middle {
  text-align: center;
  width: 50%;
  padding:0.3%;

  border-radius: 10px;

  border: solid 1px var(--color_lightGray);

  /*
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin: 0% 0% 0% 0%;
  text-align: center;
  width: 50%;
  border: solid 1px var(--color_lightGray);
  color: white;
  */
}

.Middle>h4 {
  font-size: 25px;
  line-height: 150%;

  border-radius: 5px;

  background-color:var(--color_lightGray);

  /*Antes:
  font-size: 20px;
  margin: 1% 4% 0% 4%;
  background-color: var(--color_lightGray);
  line-height: 180%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  */
}

/* =========================================== */
/* FOOTER */
/* =========================================== */
footer {
  height: 8vh;
  display: flex;
  align-items: center;

  background-color: var(--color_bgGray);
}

/* =========================================== */
.f-nombre{
  width: 25%;
  text-align: center;
}

.f-nombre h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

/* =========================================== */
.f-button{
  width: 50%;
}

.button{
  margin-left: 1em;
  border-radius: 18px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  padding: 12px 21px;
  text-decoration:none;
  
  background-color: var(--color_DarkGray);
}

.button:hover {
  box-shadow: inset 1px 1px 5px -1px #333;

  background-color: var(--color_DarkBlue);
}

.button:active {
  position: relative;
  /* top: 1px; */
}

/* =========================================== */
.logo {
  height: 90%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_bgGray);
}

.logo img {
  max-width: 80%;
  max-height: 80%;
}