/* =========================================== */
/* VARIABLES GLOBALES*/
/* =========================================== */
:root {
  --color_DarkBlue: #2937af;
  --color_DarkGray: #121212;
  --color_bgGray: #202020;
  --color_lightGray: #696969;
}

/* =========================================== */
/* GENERAL*/
/* =========================================== */
* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: white;
}

/* =========================================== */
/* HEADER */
/* =========================================== */
header {
  height: 25vh;
  display: flex;
  background-color: var(--color_bgGray);
}

/* =========================================== */
/* GIROSCOPIO -  VISTA SUPERIOR*/
/* =========================================== */
.giroscopio_superior {
  text-align: center;
  width: 25%;
  margin:0.5%;
  border-radius: 10px;
  border: solid 1px var(--color_lightGray);
}

.giroscopio_superior>h4 {
  margin: 1%;
  line-height: 150%;
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--color_lightGray);
}

.vista_superior{
  margin: 2%;
}

/* =========================================== */
/* MOTORES */
/* =========================================== */
.motores_estado{
  width: 50%;
  margin: 0.5% 0% 0.5% 0%;
  border-radius: 10px;
  border: solid 1px var(--color_lightGray);
}

.motores_estado > h4 {
  margin: 0.5%;
  text-align: center;
  line-height: 150%;
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--color_lightGray);
}

.motores_L_R{
  display:flex;
}

/* =========================================== */
/* MOTORES - IZQUIERDA */
/* =========================================== */

.motores_izquierda,
.motores_derecha  {
  width: 50%;
  margin: 0.5%;
  border-radius: 5px;
}

.motores_izquierda > h5,
.motores_derecha > h5{
  text-align: center;
  font-size:22px;
}

.sensores_motores {
  margin: 1%;
  line-height: 135%;
}

.sensores_motores > .estado_motor{
display: flex;
}

.estado_motor>.numero {
  color: yellow;
  text-align: center;
  border-radius: 15px;
  background-color: var(--color_lightGray);
}
/* =========================================== */
/* GIROSCOPIO - VISTA LATERAL */
/* =========================================== */
.giroscopio_lateral {
  text-align: center;
  width: 25%;
  margin:0.5%;
  border-radius: 10px;
  border: solid 1px var(--color_lightGray);
}

.giroscopio_lateral>h4 {
  margin: 1%;
  line-height: 150%;
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--color_lightGray);
}

.vista_lateral{
  margin: 2%;
}

/* =========================================== */
/* MAIN */
/* =========================================== */
main {
  display: flex;
  height: 67vh;
  background-color: var(--color_bgGray);
}

/* =========================================== */
/* MOVIMIENTO DEL BRAZO CON COORDENADAS*/
/* =========================================== */
.imagen{
  margin-top: 2%;
}

/* =========================================== */
.lista_coord{
  color: limegreen;
  font-size: 22px;
  display:inline-flex;
}
.coordenada_horizontal{
  text-align: center;
}

.coordenada_vertical{
  text-align: right;
  padding-right:10%;
}
/* =========================================== */
.slider{
  /*padding: 0.5% 2% 1% 1.5%;*/
  margin: 2% 1% 0% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-texto {
  display: flex;
  justify-content: space-between;
}

.slider-texto > input {
  color: yellow;
  width: 35%;
  text-align: center;
  font-size: 18px;
  border-radius: 15px;
  background-color: var(--color_lightGray);
  border: none;
}
/* =========================================== */
/* LEFT Y RIGHT*/
/* =========================================== */
.Left,
.Right {
  text-align: center;
  width: 25%;
  margin: 0% 0.5% 0% 0.5%;
  border-radius: 10px;
  border: solid 1px var(--color_lightGray);
}

.Left > h4,
.Right > h4{
  font-size: 25px;
  margin: 1%;
  line-height: 150%;
  border-radius: 5px;
  background-color: var(--color_lightGray);
}

.Left > h5,
.Right > h5{
  font-size: 25px;
  margin: 1%;
  line-height: 150%;
  border-radius: 20px;
  border: solid 1px var(--color_lightGray);
}

.Lista {
  margin-left: 1%;
  line-height: 135%;
}

/*.Lista>.valores*/
.valores{
  display: flex;
  margin-top: 2%;
}

/*.Lista>.valores>.numero*/
.numero{
  color: yellow;
  margin-bottom: 5%;
  width:77.6%;
  text-align: center;
  border-radius: 15px;
  background-color: var(--color_lightGray);
}

/* =========================================== */
/* CÃMARA - MIDDLE*/
/* =========================================== */
  .Middle {
    text-align: center;
    width: 50%;
    padding:0.3%;
    border-radius: 10px;
    border: solid 1px var(--color_lightGray);
  }
  
  .Middle>h4 {
    font-size: 25px;
    line-height: 150%;
    border-radius: 5px;
    background-color:var(--color_lightGray);
  }
  .videowrapper{
    position:relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;

}

.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}
/* =========================================== */
/* FOOTER */
/* =========================================== */
footer {
  height: 8vh;
  display: flex;
  align-items: center;
  background-color: var(--color_bgGray);
}

/* =========================================== */
.f-nombre{
  width: 20%;
  text-align: center;
}

.f-nombre h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

/* =========================================== */
.f-button{
  width: 60%;
}

.button{
  margin-left: 1em;
  border-radius: 18px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 12px 21px;
  text-decoration:none;
  background-color: var(--color_DarkGray);
}

.button:hover {
  box-shadow: inset 1px 1px 5px -1px #333;
  background-color: var(--color_DarkBlue);
}

.button:active {
  position: relative;
  /* top: 1px; */
}

/* =========================================== */
.logo {
  height: 90%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_bgGray);
}

.logo img {
  max-width: 80%;
  max-height: 80%;
}
