/* =========================================== */
/* GLOBAL VARIABLES*/
/* =========================================== */
:root {
  --color_DarkBlue: #323FB5;
  --color_DarkGray: #121212;
  --color_bgGray: #202020;
}

/* =========================================== */
/* GENERAL*/
/* =========================================== */
* {
  padding: 0%;
  margin: 0%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

/* =========================================== */
/* HEADER */
/* =========================================== */
header {
  height: 20vh;
  padding-right: 0.5%;
  padding-left: 0.5%;
  display: flex;
  background-color: var(--color_bgGray);
}

.titulo {
  width: 100%;
  margin: 0.5% 0% 0.5% 0%;
  background-color: #696969;
  color: white;
  text-align: center;
  line-height: 600%;
  border: solid 1px #696969;
}

ul {
  width: 25%;
  background-color: black;
  margin: 0.5% 0% 0.5% 0.5%;
  border: solid 1px #696969;
}

ul h4 {
  background-color: #696969;
  color: white;
  height: 25%;
  margin: 3% 4% 1% 4%;
  text-align: center;
  line-height: 120%;
  font-size: 20px;
}

.sensores {
  list-style-type: circle;
  font-size: 15px;
  margin: 2% 2% 1% 2%;
  height: 60%;
  line-height: 90%;
  background-color: black;
}

.sensores>.valores2 {
  display: inline-flex;
  margin: 1% 0% 0% 12%;
  color: white;
}

header>ul>.sensores>.valores2>.numero {
  color: yellow;
  background-color: #696969;
  line-height: 100%;
  margin: 1% -15% 1% 10%;
  width: 8vw;
  text-align: center;
}

/* =========================================== */
/* MAIN */
/* =========================================== */
main {
  display: flex;
  height: 72vh;
  background-color: var(--color_bgGray);
}
/* =========================================== */
.imagen{
  margin-top: 3%;
  height: auto;
  width: auto;
  max-width: 50%;
  max-height: 50%;
}
/* =========================================== */
.lista_coord{
  color: limegreen;
  font-size: 22px;
  display:table-cell;
}
.coordenada_horizontal{
  text-align: left;
}

.coordenada_vertical{
  text-align: right;
  padding-right:4%;
}
/* =========================================== */
.slider-master {
  padding: 0.5% 2% 1% 1.5%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}


/* =========================================== */
.Left,
.Right {
  text-align: center;
  width: 25%;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin: 0% 0.5% 0% 0.5%;
  background-color: black;
  border: solid 1px #696969;
  color: white;
  line-height: 140%;
}
/* =========================================== */
/* LEFT */
/* =========================================== */

/* =========================================== */
.Left > h4{
  font-size: 20px;
  margin:2% 4% 0% 4%;
  background-color: #696969;
  line-height: 180%;
}

.Left>.Lista {
  margin: 3% 2% 5% 2%;
  padding-left: 0%;
}

.Left>.Lista>.valores {
  width: 90%;
  display: inline-flex;
}

.Left>.Lista>.valores>.numero {
  color: yellow;
  background-color: #696969;
  width: 50%;
  line-height: 130%;
  margin: 2% 0% 0% 2%;
  padding-top: 0%;
  font-size: 18px;
}

/* =========================================== */
/* MIDDLE */
/* =========================================== */
.Middle {
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin: 0% 0% 0% 0%;
  text-align: center;
  width: 50%;
  background-color: black;
  border: solid 1px #696969;
  color: white;
}

.Middle>h4 {
  font-size: 20px;
  margin: 1% 4% 0% 4%;
  background-color: #696969;
  line-height: 180%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

/* =========================================== */
/* RIGHT */
/* =========================================== */

.Right > h4{
  font-size: 20px;
  margin:4% 4% 3% 4%;
  background-color: #696969;
  line-height: 180%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}


.Right > .Lista{
  margin-top: 2%;
  margin-bottom: 1%;
}

.Right > .Lista > .valores{
  display: inline-flex;
  list-style-type: none;
  margin: 1% 0% 0% 15%;
}

.Right > .Lista > .valores > .numero{
  color: yellow;
  background-color: #696969;
  line-height: 100%;
  margin: 0%;
  width: 10vw;
}

/* =========================================== */
/* FOOTER */
/* =========================================== */
footer {
  background-color: var(--color_DarkGray);
  height: 8vh;
  display: flex;
  align-items: center;
}

/* ------------------------------------------- */
.f-nombre{
  width: 25vw;
  text-align: center;
}

.f-nombre h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

/* ------------------------------------------- */
.f-button{
  width: 50vw;
}

.button{
  background-color: var(--color_DarkGray);
  margin-left: 1em;
  border-radius: 18px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 12px 20px;
  text-decoration: none;
}

.button:hover {
  box-shadow: inset 1px 1px 5px -1px #333;
  background-color: var(--color_DarkBlue);
}

.button:active {
  position: relative;
  /* top: 1px; */
}

/* ------------------------------------------- */
.logo {
  height: 90%;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_DarkGray);
}

.logo img {
  max-width: 80%;
  max-height: 80%;
}