/* =========================================== */
/* GLOBAL VARIABLES*/
/* =========================================== */
:root {
  --radar_Size: 350px;
  --color_DarkBlue: #323FB5;
  --color_DarkGray: #121212;
  --color_bgGray: #202020;
  --color_lightGray: #696969;
}

/* =========================================== */
/* GENERAL */
/* =========================================== */
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================================== */
/* HEADER */
/* =========================================== */
header {
  background-color: var(--color_DarkGray);
  display: flex;
  align-items: center;
  height: 6vh;
}

.header-titulo {
  flex: 1;
  text-align: center;
  /* padding: 25px; */
  color: #A2E6FF;
}

/* =========================================== */
/* MAIN */
/* =========================================== */
main {
  background: var(--color_bgGray);
  padding: 15px;
  display: flex;
  justify-content: space-around;
  height: 82vh;
  gap: 15px;
}

.giroscopio,
.camara {
  /* background-color: #c4c4c4; */
  text-align: center;
  border-radius: 10px;
  border: solid 1px var(--color_lightGray);
}

.camara {
  flex: 2;
  padding: 10px;
  align-content: space-around;
}

.camara > div > h3 {
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--color_lightGray);
}

.camara > div {
  width: 100%;
  height: 100%;
  /* font-size: 25px;
  border-radius: 5px;
  background-color: var(--color_lightGray); */
}

.videowrapper{
  position:relative;
  padding-bottom: 56.25%;
  padding-top: 25px;

}

.videowrapper iframe{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
}
.giroscopio {
  padding: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.giroscopio > div {
  
}

.giroscopio-visual {
  flex: 1;  
  text-align: center;
  border-radius: 10px;
  border: solid 1px var(--color_lightGray);
}

.giroscopio-visual > h3 {
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--color_lightGray);
}

.giroscopio-control {
  flex: 1;  
  text-align: center;
  border-radius: 10px;
  border: solid 1px var(--color_lightGray);
}

.giroscopio-control-titulo {
  font-size: 25px;
  border-radius: 5px;
  background-color: var(--color_lightGray);
  margin-bottom: 75px;
}

.slider-master {
  padding: 0px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-inferior {
  display: flex;
  justify-content: space-around;
  padding: 0px 15px 0px 15px; 
  gap: 15px;
} 

.slider-inferior > div {
  flex: 1;
}

.slider-izquierda > div, .slider-derecha > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider-texto {
  display: flex;
  justify-content: space-between;
}

.slider-texto > input {
  width: 40px;
}

/* =========================================== */
/* FOOTER */
/* =========================================== */
footer{
  background-color: var(--color_DarkGray);
  height: 8vh;
  display: flex;
  align-items: center;
}

/* ------------------------------------------- */
.f-nombre{
  width: 25vw;
  text-align: center;
}

.f-nombre h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

/* ------------------------------------------- */
.f-button{
  width: 50vw;
}

.button{
  background-color: var(--color_DarkGray);
  margin-left: 1em;
  border-radius: 18px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 12px 20px;
  text-decoration: none;
}

.button:hover {
  box-shadow: inset 1px 1px 5px -1px #333;
  background-color: var(--color_DarkBlue);
}

.button:active {
  position: relative;
  /* top: 1px; */
}

/* ------------------------------------------- */
.logo {
  height: 90%;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_DarkGray);
}

.logo img {
  max-width: 80%;
  max-height: 80%;
}
