/* =========================================== */
/* HEADER */
/* =========================================== */
header {
  background: #121212;
  box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.5);
  height: 50px;
  display: flex; 
  z-index: 100;
}

header h1{
  padding: 0 0 0 1em;
  color: white;
  align-content: center;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 12px;  
}

/* =========================================== */
/* MAIN */
/* =========================================== */
main {
  background: #202020;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

main > div {
  background-color: transparent;
  height: 75vh;
  width: 45vw;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > div > div {
  height: 48%;
  background-color: #C4C4C4;
}

/* =========================================== */
/* FOOTER */
/* =========================================== */
footer {
  background-color: #121212;
  height: 70px;
  display: flex;
  align-items: center;
}

footer #logo{
  justify-content: flex-end;
}

footer .button {
	background-color:#121212;
  margin-left: 0.5em;
	border-radius: 18px;
	display: inline-block;
	cursor: pointer;
	color:#ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	padding: 12px 25px;
	text-decoration: none;
}
footer .button:hover {
  box-shadow:inset 1px 1px 5px -1px #333;
	background-color:#323FB5;
}
footer .button:active {
	position:relative;
	top:1px;
}

