header {
  display: flex;
  height: 25px;
  background: #121212;
  z-index: 100;
  box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.5);
  
}

header h1{
  padding: 0 0 0 1em;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 10px;  
}

main {
  background: #202020;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  height: 80vh;
}

main > div {
  background-color: transparent;
  height: 75vh;
  width: 45vw;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main > div > div {
  height: 48%;
  background-color: #C4C4C4;
}

footer {
  background-color: #000000;
  height: 10vh;
  display: flex;
}

footer > div {
  margin: 10px;
  width: 145px;
  height: 7vh;
  background-color: #c4c4c4;
}

footer > div > button {
  width: 145px;
  height: 7vh;
  background: none;
  border: none;
}
