  
/* =========================================== */
/* GLOBAL VARIABLES*/
/* =========================================== */
:root {
    --radar_Size: 350px;
    --color_DarkBlue: #323FB5;
    --color_DarkGray: #121212;
    --color_bgGray: #202020;
}

/* =========================================== */
/* GENERAL*/
/* =========================================== */
* {
    padding: 0%;
    margin: 0%;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

}

/* =========================================== */
/* HEADER */
/* =========================================== */
header{
    height: 21vh;
    padding-right: 0.5%;
    padding-left: 0.5%;
    display: flex;
    background-color: black;
}

.titulo{
    width: 100%;
    margin: 0.5% 0% 0.5% 0%;
    background-color: #696969;
    color: white;
    text-align: center;
    line-height: 600%;
    border: solid 1px #696969;
}

ul{
    width: 25%;
    background-color:black;
    margin: 0.5% 0% 0.5% 0.5%;
    border: solid 1px #696969;
}

ul h4{
    background-color:#696969;
    color: white;
    height: 25%;
    margin: 3% 4% 1% 4%;
    text-align: center;
    line-height: 120%;
    font-size: 20px;
}

.sensores{
    list-style-type: circle;
    font-size: 15px;
    margin: 2% 2% 1% 2%;
    height: 60%;
    line-height: 90%;
    background-color: black;
}

.sensores>.valores2 {
    display: inline-flex;
    margin: 1% 0% 0% 12%;
    color: white;
}

header>ul>.sensores>.valores2>.numero {
    color: yellow;
    background-color: #696969;
    line-height: 100%;
    margin: 1% -15% 1% 10%;
    width: 8vw;
    text-align: center;
}

/* =========================================== */
/* MAIN */
/* =========================================== */
main {
    display: flex;
    height: 66vh;
    background-color: black;
}

/* =========================================== */
/* LEFT */
/* =========================================== */
.Left {
    text-align: center;
    width: 25%;
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 0% 0.5% 0% 0.5%;
    background-color: black;
    border: solid 1px #696969;
    color: white;
    line-height: 140%;
}

.Left > h4{
    font-size: 20px;
    margin:2% 4% 0% 4%;
    background-color: #696969;
    line-height: 180%;
}

.imagen{
    margin-top: 3%;
}

.lista_coord{
    color: yellow;
    background-color:black;
    display: inline-flex;
    font-size: 25px;

}
.coordenada1{
    text-align: left;
    background-color: black;
    margin-right: 30vh;
}

.coordenada2{
    background-color:black;
    text-align: right;
}

.Left > .Lista{
    margin: 3% 2% 5% 2%;
    padding-left: 0%;
}

.Left > .Lista > .valores{
    width: 90%;
    display: inline-flex;
}

.Left > .Lista > .valores > .numero{
    color:yellow;
    background-color: #696969;
    width: 50%;
    line-height: 130%;
    margin: 2% 0% 0% 2%;
    padding-top: 0%;
    font-size: 18px;
}
/* =========================================== */
/* MIDDLE */
/* =========================================== */
.Middle{
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 0% 0.5% 0% 0%;
    text-align: center;
    width: 84%;
    background-color: black;
    border: solid 1px #696969;
    color: white;
}

.Middle > h4{
    font-size: 20px;
    margin:1% 4% 0% 4%;
    background-color: #696969;
    line-height: 180%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

/* =========================================== */
/* RIGHT */
/* =========================================== */
.Rigth{
    padding-left: 0.5%;
    padding-right: 0.5%;
    margin: 0% 0.5% 0% 0%;
    text-align: center;
    width: 27.2%;
    background-color: black;
    border: solid 1px #696969;
    color: white;
    
}

.Rigth > h4{
    font-size: 20px;
    margin:4% 4% 3% 4%;
    background-color: #696969;
    line-height: 180%;
    padding-left: 0.5%;
    padding-right: 0.5%;
}

.Rigth > .viñetas{
    margin-top: 2%;
    margin-bottom: 1%;
}

.Rigth>.viñetas>.valores2 {
    display: inline-flex;
    list-style-type: none;
    margin: 1% 0% 0% 15%;

}

.Rigth>.viñetas>.valores2>.numero {
    color: yellow;
    background-color: #696969;
    line-height: 100%;
    margin: 1% 5% 1% 4%;
    width: 10vw;
}

.slider-master {
    padding: 0.5% 2% 1% 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-master2 {
    padding: 0.5% 2% 1% 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-master3 {
    padding: 0.5% 2% 1% 1.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* =========================================== */
/* FOOTER */
/* =========================================== */

footer {
    background-color: black;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 10%;
    height: 80%;
    background-color: black;
}

#f-logo {
    justify-content: flex-end;
    padding-left: 10%;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}

.button {
    background-color: var(--color_DarkGray);
    margin-left: 1em;
    border-radius: 18px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    font-size: 22px;
    padding: 12px 20px;
    text-decoration: none;
}

.button:hover {
    box-shadow: inset 1px 1px 5px -1px #333;
    background-color: var(--color_DarkBlue);
}

.button:active {
    position: relative;
    /* top: 1px; */
}


