
/* =========================================== */
/* GLOBAL VARIABLES*/
/* =========================================== */
:root{
  --color_DarkBlue: #323FB5;
  --color_DarkGray: #121212;
  --color_bgGray: #202020;
}

/* =========================================== */
/* HEADER */
/* =========================================== */
header {
    background: var(--color_DarkGray);
    height: 100%;
    display: flex; 
  }
  
  header h1{
    text-align: center;
    color: white;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 1em;
  }

/* =========================================== */
/* MAIN */
/* =========================================== */
main {
    background: var(--color_bgGray);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    height: 85vh;
  }

 .leftcol {
    height: 70vh;
    width: 35vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightcol {
    height: 70vh;
    width: 70vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 main > div > div {
    height: 48%;
    background-color: #C4C4C4;
} 


/* =========================================== */
/* FOOTER */
/* =========================================== */
footer {
    background-color: var(--color_DarkGray);
    height: 70px; /*70*/
    display: flex;
    align-items: center;
  }
  
  #f-logo{
    justify-content: flex-end;
  }
  
  #f-button{
      background-color:var(--color_DarkGray);
      margin-left: 1em;
      border-radius: 18px;
      display: inline-block;
      cursor: pointer;
      color:#ffffff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      padding: 12px 20px;
      text-decoration: none;
  }
  
  #f-button:hover {
        box-shadow:inset 1px 1px 5px -1px #333;
      background-color: var(--color_DarkBlue);
  }
  
  #f-button:active {
      position:relative;
      top:1px;
  }

/* Main */
/* main{
    background-color: #00455A;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

 .leftcol {
    height: 70vh;
    width: 35vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightcol {
    height: 70vh;
    width: 70vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 5px 5px 5px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 main > div > div {
    height: 48%;
    background-color: #C4C4C4;
} */

/* Header */


