/* =========================================== */
/* GLOBAL VARIABLES*/
/* =========================================== */
:root {
  --radar_Size: 350px;
  --color_DarkBlue: #323FB5;
  --color_DarkGray: #121212;
  --color_bgGray: #202020;
}

header {
  background: var(--color_DarkGray);
  height: 50px;
  display: flex;
}

header h1 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 14px;
  margin-left: 1em;
}
  
  main {
    background: var(--color_bgGray);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    height: 85vh;
  }
  
  main > div {
    background-color: #c4c4c4;
    height: 78vh;
    width: 43vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer {
    background-color: var(--color_DarkGray);
    height: 70px;
    /*70*/
    display: flex;
    align-items: center;
  }

  #f-logo {
    justify-content: flex-end;
  }

  .button {
    background-color: var(--color_DarkGray);
    margin-left: 1em;
    border-radius: 18px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 12px 20px;
    text-decoration: none;
  }

  .button:hover {
    box-shadow: inset 1px 1px 5px -1px #333;
    background-color: var(--color_DarkBlue);
  }

  .button:active {
    position: relative;
    top: 1px;
  }



