footer {
    background-color: #000000;
    height: 10vh;
    display: flex;
  }
  
  header {
      display: flex;
  }
  
  main {
    background-color: #00455a;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    height: 80vh;
  }
  
  main > div {
    background-color: #c4c4c4;
    height: 78vh;
    width: 43vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  footer > div {
    margin: 6px;
    width: 145px;
    height: 70px;
    background-color: #c4c4c4;
  }
  
  footer > div > button {
    width: 145px;
    height: 70px;
    background: none;
    border: none;
  }