/* Footer*/
footer{
    background-color: #000000;
    height: 10vh;
    display: flex;
}

footer > div {
    margin: 1%;
    width: 50%;
    height: 68%;
    background-color: #C4C4C4 ;
}

footer > div > button {
    width: 100%; 
    height: 100%;
    background: none;
    border: none;
}

/* Main */
main{
    background-color: #00455A;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

main > div {
    background-color: #C4C4C4;
    height: 40vh;
    width: 40vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main > div > div {
    height: 45%;
    background-color: red;
}

/* Header */


